*{
    margin: 0;
    padding: 0;
}
.navbar-brand span{
    color: red;
}
.nav-header li img{
    height: 28px;
}
.nav-header > li > a{
    padding: 10px ;
}
.nav-header li:nth-child(4) a{
    padding: 5px 10px 0 10px;
}
.nav-header li:nth-child(4) img{
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.page-container{
    margin-top: 50px;
}
.sidebar-toggler {
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}
/*******   LEFT PANEL    ******/
.nav{
    height: 100%;
}
.left-sidebar{
    background: #3d3d3d;
    color: #ffffff;
}
.nav-sidebar{
    margin: 0 -15px;
}
.nav-sidebar span{
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
    cursor: pointer;
}
.nav-sidebar div:hover, .nav-sidebar h4:hover{
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    background: #303030;
}
.nav-sidebar li{
    list-style-type: none;
}
.nav-sidebar li div{
    font-size: 15px;
    line-height: 35px;
    padding: 5px 20px;
    border-top: 1px solid #5c5c5c;
}
.nav-sidebar li span{
    font-size: 15px;
}
.nav-sidebar li:nth-child(3) div span{
    background: url("images/clock_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(4) div span{
    background: url("images/inbox_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(5) div span{
    background: url("images/calendar_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(6) div span{
    background: url("images/tasks_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:first-child div, .nav-sidebar li:nth-child(2) div{
    border-top: none;
}
.nav-sidebar li:nth-child(3) div:after{
    /*background: url("images/clock_small.png");*/
}
.nav-sidebar li ul li{
    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
    padding: 0 20px;
    display: block;
}
.nav-sidebar ul{
    display: none;
}
.nav-sidebar li.active ul{
    display: block;
}
.nav-sidebar li ul li:hover{
    background: #303030;
}
li#show_inbox.active div{
    background: red;
}
li#show_calendar.active div{
    background: red;
}
li#show_tasks.active div{
    background: red;
}
li#li_today.active div {
    background: red;
}
li.active div:after{
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
    border-right: solid 8px #ffffff;
}
.search-box{
    margin: 0 20px 2px 20px;
    padding: 0 !important;
    border-bottom: 2px solid #5c5c5c;
    line-height: 24px !important;
}
.search-box:hover{
    background: #3d3d3d !important;
}
.search-box form>input{
    border: none;
    background: #3d3d3d;
    color: #ffffff;
    font-weight: normal;
}
.search-box form>input:focus{
    outline: none;
    border: none;
}
.sidebar-search-wrapper{
    margin: 35px 0;
}
.sidebar-form-search .submit{
    background: url(images/search.png) no-repeat ;
    background-size: 15px 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.panel-search {
    margin: 0;
    padding: 70px 5px 15px 15px ;
}
.panel-search .input-box{
    width: 235px;
}

.search-input{
    width: 85%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    /*padding-bottom: 6px;*/
}
/*.input-box a{*/
/*padding-bottom: 0px;*/
/*line-height: 0px;*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
.input-box a{
    /*style="line-height: 0px; padding: 0; margin: 0;"*/
    line-height: 0px !important;
    padding-left: 0 !important;
    margin: 0 !important;
}
.input-box a:hover{
    background-color: #3d3d3d !important;
}
.inbox-box>input:focus{
    outline: none !important;
    border: none !important;
}
/************    FEATURES AREA    **********/
#features-area{

}
#todo{
    border: 1px solid #969696;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 1);
}
#todo:nth-child(1){
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 20px;
}
#todo #list-box>div{
    /*padding: 6px 8px;*/
    /*background: #ffffA0;*/
    border-bottom: 1px solid #d1e1eb;
}
.todo-line div:first-child{
    border-right: 1px solid #eddddd;
}
.todo-line div:nth-child(2){
    border-left: 1px solid #eddddd;
}
.todo-line>div{
    display: inline-block;
    padding: 8px;
}
/*#list-box div:nth-child(2){*/
/*border-right: 1px solid #000000;*/
/*}*/
/*#list-box div:nth-child(1){*/
/*border-left: 1px solid #000000;*/
/*}*/
#list-box input[type=checkbox]:after{
    margin: 15px;
}
#add_form>div{
    display: inline-block;
    padding: 8px;
}
#add2list-box{
    /*background: #ffffA0;*/
}
/*#add2list-box div{*/
/*padding: 6px 0;*/
/*background: #ffffA0;*/
/*}*/
#add_form>div:nth-child(1){
    border-right: 1px solid #eddddd;
}
#add_form>div:nth-child(2){
    border-left: 1px solid #eddddd;
}
#add2list-box img{
    margin-left: 1px;
    height: 12px;
}
#todo #list-box label, #todo #add2list-box input{
    padding-left: 10px;
    border: none;
    /*background: #ffffA0;*/
    font-size: 14px;
}
#list-box label:before{
}
.trick{
    height: 31px;
    width: 3px;
    border: none;
}
#todo #list-box input:focus, #add2list-box input:focus{
    outline: none;
    border: none;
}
#notepad{
    border: 1px solid #969696;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 1);
    margin: 40px 30px 30px 50px;
    position: relative;
}
#notepad-content{
    min-height: 97px;
    line-height: 35px;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 10px;
    background: url("images/notepad-line.png") repeat-y;
}
#notepad img{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
}
#ninja-notepad{
    display: none;
    border: 1px solid #969696;
    position: fixed;
    left: 350px;
    top: 100px;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 1);
}
#notepad-content_2{
    width: 580px;
    min-height: 350px;
    line-height: 35px;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 10px;
    background: url("images/notepad-line.png") repeat-y;
}
#ninja-notepad img{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
}
#chat{
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;

}
.iamauthor{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.iamauthor>div{
    display: inline-block;
    position: relative;
}
.iamauthor>div:nth-child(2){
    width: 75%;
    float: right;
}
.chat-text-left{
    border-left: 3px solid limegreen;
    padding: 5px 0 0 8px;
    font-size: 14px;
    line-height: 22px;
    background: #f8f8f8;
    min-height: 71px;
}
.chat-text-left span{
}
.chat-text-left:before{
    position: absolute;
    top: 14px;
    left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-right: solid 10px limegreen;
}

.chat-photo-left{
    padding-top: 2px;
    margin-right: 15px;
    vertical-align: top;
}
.blue_span{
    color: dodgerblue;
    font-size: 18px;
}
.interlocutor{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.interlocutor>div{
    display: inline-block;
    position: relative;
}
.interlocutor>div:nth-child(1){
    width: 75%;
}
.chat-text-right{
    border-right: 3px solid red;
    padding: 5px 8px 0 0;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    background: #f8f8f8;
    min-height: 71px;
}
.chat-text-right:after{
    position: absolute;
    top: 14px;
    right: -8px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 10px red;
}
.chat-photo-right{
    float: right;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}
#send-msg-box{
    padding: 10px;
    background: #e9eff3;
    position: relative;
}
#send-msg{
    height: 24px;
    border: none;
    padding-left: 5px;
    padding-right: 20px;
}
#send-msg:focus{
    outline: none;
    border: none;
}
#send-form{
    width: 100%;
}
#send-form>div{
    display: table-cell;
}
#send-form>div:nth-child(1){
    min-width: 300px;
    width: 100%;
}
#send-form>div:nth-child(1) input{
    width: 100%;
}
#send-form>div:nth-child(2){
    /*float: right;*/
    width: 43px;
}
#submit-msg{
    background: url("images/ok-send.png") no-repeat right;
    border: none;
    height: 24px;
    width: 43px;
}
#submit-msg:focus{
    border: none;
    outline: none;
}