*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.navbar-brand span{
    color: red;
}
.nav-header {
    margin-top: 5px;
}
.nav-header li img{
    height: 28px;
}
.nav-header > li > a{
    padding: 10px ;
}
.nav-header li:nth-child(4) a{
    padding: 5px 10px 0 10px;
}
.nav-header li:nth-child(4) img{
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-header li{
    display: inline;
}
.nav-header li a{
    color: #ffffff;
}
.page-container{
    margin-top: 50px;
}
@media (max-width: 768px) {
    .left-sidebar{
        display: none;
    }

}
.sidebar-toggler {
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}
/*******   LEFT PANEL    ******/
.nav{
    /*height: 100%;*/
}
#left-panel{
    height: 100%;
    max-height: none;
}
.left-sidebar{
    background: #3d3d3d;
    color: #ffffff;
}
.nav-sidebar{
    margin: 0 -15px;
}
.nav-sidebar span{
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
    cursor: pointer;
}
.nav-sidebar div:hover, .nav-sidebar h4:hover{
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    background: #303030;
}
.nav-sidebar li{
    list-style-type: none;
}
.nav-sidebar li div{
    font-size: 15px;
    line-height: 35px;
    padding: 5px 20px;
    border-top: 1px solid #5c5c5c;
}
.nav-sidebar li span{
    font-size: 15px;
}
.nav-sidebar li:nth-child(3) div span{
    background: url("images/clock_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(4) div span{
    background: url("images/inbox_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(5) div span{
    background: url("images/calendar_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:nth-child(6) div span{
    background: url("images/tasks_small.png") no-repeat;
    padding-left: 25px;
}
.nav-sidebar li:first-child div, .nav-sidebar li:nth-child(2) div{
    border-top: none;
}
.nav-sidebar li:nth-child(3) div:after{
    /*background: url("images/clock_small.png");*/
}
.nav-sidebar li ul li{
    color: #ffffff;
    /*margin-left: 25px;*/
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
    padding: 0 20px 0 45px;
    display: block;
}
.nav-sidebar ul{
    display: none;
}
.nav-sidebar li.active ul{
    display: block;
}
.nav-sidebar li ul li:hover{
    background: #303030;
}
li#show_inbox.active div{
    background: red;
}
li#show_calendar.active div{
    background: red;
}
li#show_tasks.active div{
    background: red;
}
li#li_today.active div {
    background: red;
}
li.active div:after{
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
    border-right: solid 8px #ffffff;
}
.search-box{
    margin: 0 20px 2px 20px;
    padding: 0 !important;
    border-bottom: 2px solid #5c5c5c;
    line-height: 24px !important;
}
.search-box:hover{
    background: #3d3d3d !important;
}
.search-box form>input{
    border: none;
    background: #3d3d3d;
    color: #ffffff;
    font-weight: normal;
}
.search-box form>input:focus{
    outline: none;
    border: none;
}
.sidebar-search-wrapper{
    margin: 35px 0;
}
.sidebar-form-search .submit{
    background: url(images/search.png) no-repeat ;
    background-size: 15px 15px;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.panel-search {
    margin: 0;
    padding: 70px 5px 15px 15px ;
}
.panel-search .input-box{
    width: 235px;
}

.search-input{
    width: 85%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    /*padding-bottom: 6px;*/
}
/*.input-box a{*/
/*padding-bottom: 0px;*/
/*line-height: 0px;*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
.input-box a{
    /*style="line-height: 0px; padding: 0; margin: 0;"*/
    line-height: 0px !important;
    padding-left: 0 !important;
    margin: 0 !important;
}
.input-box a:hover{
    background-color: #3d3d3d !important;
}
.inbox-box>input:focus{
    outline: none !important;
    border: none !important;
}
/***********    MIDDLE PANEL   ***********/
.content h1 {
    margin: 15px;
}
.address-box{
    background: lightgray;
    margin: 0 20px 10px 20px;
    padding: 10px;
    color: #3d3d3d;
}
.address-box>img:nth-child(1){
    height: 13px;
    width: 17px;
}
.address-box>span{
    padding: 0 5px;
}
.address-box>img:nth-child(3){
    height: 10px;
    width: 7px;
}
/************    MAIL LAYOUT   ***********/
#mail-layer{
    display: none;
    min-width: 510px;
}
.inbox-box{
    background: #009cf7;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px;
}
.outbox-box{
    background: #f4f9fd;
    color: #009cf7;
    font-weight: bold;
    padding: 10px;
    margin: 0 20px;
}
.mail-box{
    margin: 10px 20px 0 20px;
    padding: 0 10px;
}
.mail-box-header{
    padding: 5px;
    background: #eef4f7;
}
.mail-box-header>div{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 49%;
}
.mail-box-header input{
}
.mail-box-header select{
    color: white;
    background: #498dff;
    border: none;
    padding: 3px;
}
.mail-box-header select{
    outline: none;
}
.mail-box-header-left-box{
    padding: 0;
    float: left;
}
.mail-box-header-right-box{
    float: right;
}
.mail-box-header-right-box>a img{
    vertical-align: middle;
    height: 20px;
}
.mail-box-header-right-box>span{
    font-size: 14px;
    font-weight: bold;
    color: #969696;
    padding-right: 5px;
    vertical-align: middle;
}
#right-span{
    vertical-align: middle;
    line-height: 30px;
}
.message-box{
    color: #6d6d6d;
}
.message-box-line{
    padding: 5px;
}
.message-box-line>div{
    display: inline-block;
    vertical-align: middle;
}
.message-box-line>div:nth-child(1){
    width: 80%;
    vertical-align: middle;
}
.message-box-line>div:nth-child(1) input{
    padding: 0 15px;
}
.message-box-line>div:nth-child(1) img{
    margin: 0 10px;
    height: 15px;
    width: 15px;
}
.message-box-line>div:nth-child(2){
    width: auto;
    /*padding: 5px;*/
    margin-bottom: 8px;
    height: 15px;
}
.message-box-line>div:nth-child(2) img{
    height: 25px;
    width: 25px;
}
.message-box-line>div:nth-child(3){
    width: auto;
    padding-top: 2px;
    padding-right: 7px;
    float: right;
}
.bold-text{
    font-weight: bold;
}
.message-bg-light{
    background: white;
}
.message-bg-dark{
    background: #f8fbfd;
}
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding: 0 10px 0 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    height:15px;
    display:inline-block;
    line-height:15px;
    /*background:no-repeat 0 0;*/
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}
label.css-label {
    background:url(images/csscheckbox.png) no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/**********    CALENDAR LAYOUT   *********/
#calendar-layer{
    /*display: none;*/
}
.calendar-box{
    margin: 0 20px 10px 20px;
    padding: 10px;
    max-width: 620px;
}
.calendar-toggle{
    margin-bottom: 7px;
}
.calendar-toggle>div{
    height: 30px;
}
.calendar-toggle div {
    /*display: inline-block;*/
    float: right;
}
.calendar-toggle div>div{
    margin: 0 1px;
    padding: 7px 10px;
}
#today{
    background: #e7e7e7;
}
#month{
    background: #eeeeee;
}
#week_day{
    background: #dddddd;
}
.calendar-table{
    width: 100%;
}
.calendar-table table{
    background: #dddddd;
    border-spacing: 1px;
    border-collapse: separate;
    width: 100%;
}
.calendar-table table tr{
    height: 60px;
    background: #fafafa;
}
.calendar-table table tr td{
    width:  80px;
    background: #fafafa;
    vertical-align: top;
}
.calendar-table tr td:hover{
    background: #ededed;
}
.calendar-table table tr td>div{
    margin: 2px 2px;
    padding: 1px;
    color: #ffffff;
}
.calendar-table table tr td div span{
    color: white;
}
#fri_1{
    background: #ffb939;
}
#fri_15_1{
    background: #66a3e2;
}
#fri_15_2{
    background: #555555;
}
#sun_16{
    background: #86249b;
}
#tue_19{
    background: #2dab41;
}
#long_day{
    background: #2dab41;
    position: absolute;
    min-width: 325px;
    width: 25.6%;
    max-width: 345px;
}
#click4google{
    background: #ffb939;
    position: absolute;
    min-width: 150px;
    width: 16%;
    max-width: 170px;
}
/************    TASK LAYOUT   ***********/
#tasks-layer{
    display: none;
}
.task-box{
    margin: 10px 20px 0 20px;
}
#task_input{
    padding-left: 15px;
}
#task_input div>input{
    height: 30px;
    width: 98%;
    padding-left: 10px;
    margin-right: 15px;
    background: url("images/no_due_date.png") no-repeat right transparent;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
#task_input>div{
    display: inline-block;
    vertical-align: middle;
}
#task_input>div div{
    display: block;
}
#task_input>div:nth-child(1){
    top: 0;
    width: 94%;
}
#task_input>div:nth-child(2){
}
#task_input>div:nth-child(2) div{
    height: 34px;
    vertical-align: middle;
}
#task_input div>img {
    height: 13px;
}
.task-box-header>div{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    margin: 15px 0 -10px 0;
}
.task-box-header>div:nth-child(2){

}
.task-box-header-right{
    float: right;
    margin: 5px;
}
.task-box-header-right img{
    height: 18px;
}
.task-box-content>div{
    display: inline-block;
    width: 100%;
}
.task-box-line{
    vertical-align: middle;
    padding: 7px 15px;
}
.task-box-line>div{
    display: inline-block;
}
.task-box-line div:nth-child(1){
    width: 15px;
}
.task-box-line div:nth-child(2) {
    border-bottom: 1px solid #eeeeee;
    padding: 0 15px 8px 0;
    margin-left: 5px;
    width: 87%;
}
.task-box-line div span{
    margin-bottom: 15px;
    font-size: 15px;
}
#task-buttons{
    margin: 7px 10px 0 15px;
}
#task-buttons>div{
    display: inline-block;
}
#task-buttons>div:nth-child(2){
    float: right;
    vertical-align: middle;
    margin-right: 0;
}
#task-buttons>div:nth-child(2)>img{
    height: 15px;
    padding: 10px 5px 0 5px;

}
.task-btn-red {
    background-color: #df4932;
    border:1px solid #dcdcdc;
    color:#ffffff;
}
.task-btn-red:hover{
    background: #333333;
}
.task-btn:active {
    position:relative;
    top:1px;
}
.task-btn{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    text-indent:0;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:30px;
    width:70px;
    text-decoration:none;
    text-align:center;
}
.task-btn-cancel {
    background-color:transparent;
    border:1px solid #ffffff;
    color:#3d3d3d;
}
.task-btn-add{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #df4932;
}
.task-btn-cancel:hover {
    background-color: #e1e1e1;
}
#task-add{
    margin: 15px 15px 0 15px;
}
#task-add>div{
    display: inline-block;
}
#task-add>div:nth-child(2) {
    float: right;
    padding-top: 5px;
}
#task-add>div:nth-child(2) img{
    height: 15px;
}
/************    RIGHT PANEL   ***********/
/************   FEATURES AREA   **********/
.third-panel{
    padding: 10px 20px;
    margin: 0 20px;
}
#features-area{

}
#todo{
    border: 1px solid #969696;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 1);
    margin: 0 15px;
}
#todo:nth-child(1){
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 0px;
    /*min-width: 200px;*/
}
#todo #list-box>div{
    /*padding: 6px 8px;*/
    /*background: #ffffA0;*/
    border-bottom: 1px solid #d1e1eb;
    position: relative;
}
.todo-line div:first-child{
    border-right: 1px solid #eddddd;
}
.todo-line div:nth-child(2){
    position: absolute;
    top: 0;
    margin-left: 4px;
    border-left: 1px solid #eddddd;
}
.todo-line>div{
    display: inline-block;
    padding: 8px;
}
/*#list-box div:nth-child(2){*/
/*border-right: 1px solid #000000;*/
/*}*/
/*#list-box div:nth-child(1){*/
/*border-left: 1px solid #000000;*/
/*}*/
#list-box input[type=checkbox]:after{
    margin: 15px;
}
#add_form>div{
    display: inline-block;
    padding: 8px;
}
#add2list-box{
    /*background: #ffffA0;*/
}
/*#add2list-box div{*/
/*padding: 6px 0;*/
/*background: #ffffA0;*/
/*}*/
#add_form>div:nth-child(1){
    border-right: 1px solid #eddddd;
    /*margin-right: 1px;*/
}
#add_form>div:nth-child(2){
    border-left: 1px solid #eddddd;
    /*margin-left: 1px;*/
}
#add2list-box img{
    margin-left: 1px;
    height: 12px;
}
#todo #list-box label, #todo #add2list-box input{
    padding-left: 10px;
    border: none;
    word-break: break-all;
    word-wrap:break-word;
    /*background: #ffffA0;*/
    font-size: 14px;
}
#add2list-box input{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#list-box label:before{
}
.trick{
    height: 31px;
    width: 3px;
    border: none;
}
#todo #list-box input:focus, #add2list-box input:focus{
    outline: none;
    border: none;
}
#notepad{
    border: 1px solid #969696;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 1);
    margin: 40px 30px 30px 20px;
    position: relative;
}
#notepad-content{
    min-height: 97px;
    height: 100%;
    line-height: 26px;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 10px;
    background: url("images/notepad-line.png");
}
#notepad img{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
}
#ninja-notepad{
    display: none;
    border: 1px solid #969696;
    position: fixed;
    left: 350px;
    top: 100px;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 1);
}
#notepad-content_2{
    width: 580px;
    min-height: 350px;
    line-height: 35px;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 10px;
    background: url("images/notepad-line.png");
}
#ninja-notepad img{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
}
#chat{
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;

}
.iamauthor{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.iamauthor>div{
    display: inline-block;
    position: relative;
}
.iamauthor>div:nth-child(2){
    float: right;
}
.chat-text-left{
    border-left: 3px solid limegreen;
    padding: 5px 0 0 8px;
    font-size: 14px;
    line-height: 16px;
    background: #f8f8f8;
    min-height: 71px;
}
.chat-text-left span{
}
.chat-text-left:after{
    position: absolute;
    top: 14px;
    left: 5px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-right: solid 10px limegreen;
}

.chat-photo-left img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
.blue_span{
    color: dodgerblue;
    font-size: 18px;
}
.interlocutor{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.interlocutor>div{
    display: inline-block;
    position: relative;
}
.interlocutor>div:nth-child(1){
    height: inherit;
}
.test-text-richard{
    text-align: right;
    padding-right: 5px;
    border-right: 3px solid red;
    background: #f8f8f8;
}
.chat-text-right{
    /*position: absolute;*/
    /*top: 0;*/
    border-right: 3px solid red;
    padding: 5px 8px 0 0;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    background: #f8f8f8;
    min-height: 71px;
}
.chat-text-right:after, .test-text-richard:after{
    position: absolute;
    top: 14px;
    right: 5px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 10px red;
}
.chat-photo-right img{
    /*float: right;*/
    /*padding-top: 2px;*/
    /*margin-left: 5px;*/
    /*vertical-align: top;*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
#send-msg-box{
    padding: 10px;
    background: #e9eff3;
    position: relative;
}
#send-msg{
    height: 24px;
    border: none;
    padding-left: 5px;
    padding-right: 20px;
}
#send-msg:focus{
    outline: none;
    border: none;
}
#send-form{
    width: 100%;
}
#send-form>div{
    display: table-cell;
}
#send-form>div:nth-child(1){
    /*min-width: 300px;*/
    width: 100%;
}
#send-form>div:nth-child(1) input{
    width: 100%;
}
#send-form>div:nth-child(2){
    /*float: right;*/
    width: 43px;
}
#submit-msg{
    background: url("images/ok-send.png") no-repeat right;
    border: none;
    height: 24px;
    width: 37px;
}
#submit-msg:focus{
    border: none;
    outline: none;
}